.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.tarjeta{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    background: linear-gradient(blue, pink);
    box-shadow: 2px 2px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    transition:  0.5s ease;
}

.tarjeta:hover{
    transform: scale(1.05) perspective(1000px) rotateY(-20deg) rotateX(10deg);
    box-shadow: 4px 4px 2px 2px;
}
.textoTarjeta{
    transition: 0.5s ease;
}
.textoTarjeta:hover{
    color: white;
    transform: scale(2);
}